<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>852661763802-c0aejvfmcrg38c14oc9n5puarphe2pb8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852661763802-c0aejvfmcrg38c14oc9n5puarphe2pb8</string>
	<key>API_KEY</key>
	<string>AIzaSyCzPnHz8TECR4IhmYz2sEFfcMrC3w2n1qA</string>
	<key>GCM_SENDER_ID</key>
	<string>852661763802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Passport.ProfileLists</string>
	<key>PROJECT_ID</key>
	<string>passport-profile-list</string>
	<key>STORAGE_BUCKET</key>
	<string>passport-profile-list.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852661763802:ios:9b0ac5307e5f190a</string>
	<key>DATABASE_URL</key>
	<string>https://passport-profile-list.firebaseio.com</string>
</dict>
</plist>